# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv('/Users/belma/Documents/IRONHACK/Lessons/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing-4.06/data/Salaries.csv')

/var/folders/f3/3cnlgj7535533kpgd3y75z240000gn/T/ipykernel_47381/1046077947.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('/Users/belma/Documents/IRONHACK/Lessons/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing-4.06/data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

In [5]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [6]:
# Your code here:

In [7]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

Get the shape of the dataframe

In [8]:
# Your code here

In [9]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [10]:
# Your code here
# drop the column with missing data
salaries = salaries.drop('Notes', axis=1)

salaries.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [11]:
# Your code here

In [12]:
salaries['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [13]:
# Your code here
# drop rows with missing data in the "Status" column
salaries = salaries.dropna(subset=['Status'])

In [14]:
# Your code here
# compute the amount of missing values again
salaries.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [15]:
# Your code here
salaries.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [16]:
# Your code here

In [17]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [18]:
# Your code here
# convert columns to float
salaries['BasePay'] = salaries['BasePay'].astype(float)
salaries['OvertimePay'] = salaries['OvertimePay'].astype(float)
salaries['OtherPay'] = salaries['OtherPay'].astype(float)
salaries['Benefits'] = salaries['Benefits'].astype(float)

In [19]:
# Your code here
# reset the index
salaries = salaries.reset_index(drop=True)

In [20]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [21]:
# Your code here
# create new column with the sum of the relevant columns
salaries['TotalPay'] = salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']

# create new column with True if TotalPayBenefits == TotalPay, False otherwise
salaries['Check'] = salaries['TotalPayBenefits'] == salaries['TotalPay']

In [22]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Check
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,510732.68,510732.68,2014,San Francisco,PT,True
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,479652.21,479652.21,2014,San Francisco,FT,False
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,436224.36,436224.36,2014,San Francisco,PT,True
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,418019.22,418019.22,2014,San Francisco,FT,False
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,417435.10,417435.10,2014,San Francisco,FT,True

In [23]:
salaries[['TotalPayBenefits', 'TotalPay', 'Check']]

       TotalPayBenefits   TotalPay  Check
0             510732.68  510732.68   True
1             479652.21  479652.21  False
2             436224.36  436224.36   True
3             418019.22  418019.22  False
4             417435.10  417435.10   True
...                 ...        ...    ...
38114              0.00       0.00   True
38115              0.00       0.00   True
38116              0.00       0.00   True
38117              0.00       0.00   True
38118           -618.13    -618.13   True

[38119 rows x 3 columns]

What is the percetage of employees for which the previous assumption is not True?

In [24]:
# Your code here:
# calculate the proportion of rows where the assumption is true
prop_true = salaries['Check'].mean()

# calculate the proportion of rows where the assumption is not true
prop_not_true = 1 - prop_true

# calculate the percentage of rows where the assumption is true
percent_true = prop_true * 100

# calculate the percentage of rows where the assumption is not true
percent_not_true = prop_not_true * 100

# print the percentages
print(f"The percentage of employees for which the assumption is true is {percent_true:.2f}%")
print(f"The percentage of employees for which the assumption is not true is {percent_not_true:.2f}%")

The percentage of employees for which the assumption is true is 73.71%
The percentage of employees for which the assumption is not true is 26.29%

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
salaries.groupby('JobTitle').size().reset_index(name='Employees')

                           JobTitle  Employees
0       ACPO,JuvP, Juv Prob (SFERS)          1
1      ASR Senior Office Specialist         22
2              ASR-Office Assistant         15
3                     Account Clerk         93
4                      Accountant I          2
..                              ...        ...
991      Wire Rope Cable Maint Sprv          1
992      Worker's Comp Supervisor 1          6
993  Worker's Compensation Adjuster         26
994           X-Ray Laboratory Aide         35
995              Youth Comm Advisor          1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
# Your code here: (compute the "Hourly_Wage")

import scipy.stats as stats
import scipy

salaries['Hourly_Wage'] = salaries['TotalPayBenefits'] / (50*40)
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Check,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,510732.68,510732.68,2014,San Francisco,PT,True,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,479652.21,479652.21,2014,San Francisco,FT,False,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,436224.36,436224.36,2014,San Francisco,PT,True,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,418019.22,418019.22,2014,San Francisco,FT,False,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,417435.10,417435.10,2014,San Francisco,FT,True,208.717550

In [27]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
hourly_wage = salaries[salaries['Status']=='FT']['Hourly_Wage']
hourly_wage_mean = salaries[salaries['Status']=='FT']['Hourly_Wage'].mean()
hourly_wage_mean

69.264206407271

In [28]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [29]:
t_stat = (np.mean(salaries[salaries['Status']=='FT']['Hourly_Wage']) - 75) / (np.std(salaries[salaries['Status']=='FT']['Hourly_Wage'], ddof=1) / np.sqrt(len(salaries[salaries['Status']=='FT']['Hourly_Wage'])))
t_stat

-35.80631941460788

In [30]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
critical_value = +-scipy.stats.t.ppf(1-(0.05/2), df=len(salaries[salaries['Status']=='FT']['Hourly_Wage']))
critical_value

-1.960070208127955

In [31]:
alpha = 0.05
df=len(salaries[salaries['Status']=='FT']['Hourly_Wage'])
scipy.stats.t.cdf(t_stat, df)

2.2571862370535988e-273

In [32]:
# Method 2: Use the p-value method.
# Your code here:
t_stat, p_value = stats.ttest_1samp(salaries[salaries['Status']=='FT']['Hourly_Wage'], 75)
p_value

4.517831233839447e-273

In [33]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [34]:
t_stat, p_value = stats.ttest_1samp(salaries[salaries['Status']=='FT']['Hourly_Wage'], 75)
t_stat, p_value

(-35.80631941460526, 4.517831233839447e-273)

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [35]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [36]:
# Subset the data to only include police jobs
police = salaries[salaries['JobTitle'].apply(lambda x: 'Police' in x)]
police

police_mean = np.mean(police['TotalPayBenefits'])
police_std = np.std(police['TotalPayBenefits'], ddof=1)
n = len(police)
df = n - 1
t_stat = (police_mean - 86000) / (police_std / np.sqrt(n))
t_stat

50.252984742109916

In [37]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [38]:
t_stats= scipy.stats.t.ppf(0.05, df)
t_stats

-1.645656004264731

In [39]:
# Method 2: Use the p-value method.
# Your code here:

In [40]:
tc = scipy.stats.t.cdf(t_stats, df)
tc

0.04999999999999998

In [41]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [42]:
t_stat, p_value = stats.ttest_1samp(police['TotalPayBenefits'], 86000)
t_stat, p_value

(50.252984742109945, 0.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [43]:
# Your code here: (Get the department which has most employees)
# Determine the job title with the most employees
job_title = salaries['JobTitle'].value_counts().index[0]

# Subset the data to only include employees with this job title
job = salaries[salaries['JobTitle'] == job_title]

# Calculate the mean hourly wage for this job title
hourly_wage = job['TotalPayBenefits'].mean() / (50 * 40) # assuming 50 weeks and 40 hours per week

# Print the results
print('Mean hourly wage for', job_title, ': $', round(hourly_wage, 2), '/hr')

# Check if the p-value is less than the significance level (alpha)
alpha = 0.05
if p_value/2 < alpha and t_stat < 0:
    print('Reject null hypothesis - hourly wage for', job_title, 'is less than $35/hr')
else:
    print('Fail to reject null hypothesis - hourly wage for', job_title, 'is not less than $35/hr')

Mean hourly wage for Transit Operator : $ 43.36 /hr
Fail to reject null hypothesis - hourly wage for Transit Operator is not less than $35/hr

In [44]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

# Conduct one-sample t-test for mean hourly wage
t_statistic, p_value = stats.ttest_1samp(job['TotalPayBenefits'] / (50 * 40), popmean=35)
print('t-statistic:', t_statistic)

t-statistic: 19.064990324906386

In [45]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 

alpha = 0.05
df = len(police) - 1

critical_value = scipy.stats.t.ppf(1 - alpha, df)
critical_value

1.6456560042647304

In [46]:
# Method 2: Use the p-value method.
# Your code here:

# Calculate the mean hourly wage for this job title
hourly_wage = job['TotalPayBenefits'].mean() / (50 * 40) # assuming 50 weeks and 40 hours per week
print('p-value:', p_value)

p-value: 1.0025543388407842e-75

In [47]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [48]:
# Determine the job title with the most employees
job_title = salaries['JobTitle'].value_counts().index[0]

# Subset the data to only include employees with this job title
job = salaries[salaries['JobTitle'] == job_title]

# Calculate the mean hourly wage for this job title
hourly_wage = job['TotalPayBenefits'].mean() / (50 * 40) # assuming 50 weeks and 40 hours per week

# Conduct one-sample t-test for mean hourly wage
t_statistic, p_value = stats.ttest_1samp(job['TotalPayBenefits'] / (50 * 40), popmean=35)

# Print the results
print('Mean hourly wage for', job_title, ': $', round(hourly_wage, 2), '/hr')
print('t-statistic:', t_statistic)
print('p-value:', p_value)

# Check if the p-value is less than the significance level (alpha)
alpha = 0.05
if p_value/2 < alpha and t_statistic < 0:
    print('Reject null hypothesis - hourly wage for', job_title, 'is less than $35/hr')
else:
    print('Fail to reject null hypothesis - hourly wage for', job_title, 'is not less than $35/hr')

Mean hourly wage for Transit Operator : $ 43.36 /hr
t-statistic: 19.064990324906386
p-value: 1.0025543388407842e-75
Fail to reject null hypothesis - hourly wage for Transit Operator is not less than $35/hr

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [49]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [50]:
mean= round(salaries['Hourly_Wage'].mean(), 2)
print( 'Sample mean: ', mean)

Sample mean:  50.13

In [51]:
confidence_level = 0.95
degrees_freedom = len(salaries['Hourly_Wage']) - 1  
sample_mean = np.mean(salaries['Hourly_Wage'])
sample_standard_error = scipy.stats.sem(salaries['Hourly_Wage'])
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'Confidence interval is ', confidence_interval)

Confidence interval is  (49.798255413084014, 50.46318325529486)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [52]:
# Your code here:
mean= round(police['Hourly_Wage'].mean(), 2)
print( 'Sample mean: ', mean)

Sample mean:  74.17

In [53]:
confidence_level = 0.95
degrees_freedom = len(police['Hourly_Wage']) - 1  
sample_mean = np.mean(police['Hourly_Wage'])
sample_standard_error = scipy.stats.sem(police['Hourly_Wage'])
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'Confidence interval is ', confidence_interval)

Confidence interval is  (72.9578791736444, 75.3911629515526)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [54]:
# Your code here: (Create the function)
def get_employee_group(job_title):
    if "Police" in job_title:
        return "Policemen"
    elif "Fire" in job_title:
        return "Firemen"
    elif "Med" in job_title or "Nurse" in job_title:
        return "Medical"
    elif "Attorney" in job_title:
        return "Lawyer"
    else:
        return "Other"

In [55]:
# Your code here: (Apply the function)
salaries["employee_group"] = salaries["JobTitle"].apply(get_employee_group)
salaries.head ()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Check,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,510732.68,510732.68,2014,San Francisco,PT,True,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,479652.21,479652.21,2014,San Francisco,FT,False,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,436224.36,436224.36,2014,San Francisco,PT,True,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,418019.22,418019.22,2014,San Francisco,FT,False,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,417435.10,417435.10,2014,San Francisco,FT,True,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [56]:
# Your code here: (Store the output dataframe into a new variable)
emp_count = salaries.groupby('employee_group')['EmployeeName'].count()
pt_count = salaries.groupby('employee_group')['Status'].apply(lambda x: (x == 'PT').sum())
ft_count = emp_count - pt_count

In [57]:
pt_count.head()

employee_group
Firemen        178
Lawyer         102
Medical       2889
Other        12245
Policemen      371
Name: Status, dtype: int64

In [58]:
employee_group_status = salaries.groupby(['employee_group', 'Status']).size().reset_index(name='count')
employee_group_status

  employee_group Status  count
0        Firemen     FT   1333
1        Firemen     PT    178
2         Lawyer     FT    317
3         Lawyer     PT    102
4        Medical     FT   1028
5        Medical     PT   2889
6          Other     FT  18126
7          Other     PT  12245
8      Policemen     FT   1530
9      Policemen     PT    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [59]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

# Calculate the total number of observations
N = salaries.shape[0]

# Calculate the probability of each category in the "employee_group" column
p_lawyer = (salaries["employee_group"] == "Lawyer").sum() / N
p_medical = (salaries["employee_group"] == "Medical").sum() / N
p_firemen = (salaries["employee_group"] == "Firemen").sum() / N
p_policemen = (salaries["employee_group"] == "Policemen").sum() / N
p_other = (salaries["employee_group"] == "Other").sum() / N

# Calculate the probability of each category in the "FT/PT" column
p_ft = (salaries["Status"] == "FT").sum() / N
p_pt = (salaries["Status"] == "PT").sum() / N

# Calculate the expected frequencies for each cell
frequencies = pd.DataFrame({
    "FT": [p_lawyer * p_ft * N, p_medical * p_ft * N, p_firemen * p_ft * N, p_policemen * p_ft * N, p_other * p_ft * N],
    "PT": [p_lawyer * p_pt * N, p_medical * p_pt * N, p_firemen * p_pt * N, p_policemen * p_pt * N, p_other * p_pt * N]
}, index=["Lawyer", "Medical", "Firemen", "Policemen", "Other"])

In [60]:
frequencies

                     FT            PT
Lawyer       245.492956    173.507044
Medical     2294.978305   1622.021695
Firemen      885.297988    625.702012
Policemen   1113.799785    787.200215
Other      17794.430966  12576.569034

In [61]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [62]:
firemen_ft = p_firemen * p_ft * N
firemen_ft

885.2979878800596

In [63]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [64]:
firemen_pt = frequencies.loc["Firemen", "PT"]
firemen_pt

625.7020121199403

In [65]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [66]:
lawyer_ft = p_lawyer * p_ft * N
lawyer_ft

245.49295626852748

In [67]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"
lawyer_pt = frequencies.loc["Lawyer", "PT"]
lawyer_pt

173.5070437314725

In [68]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"
medical_ft = p_medical * p_ft * N
medical_ft

2294.9783047823917

In [69]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"
medical_pt = frequencies.loc["Medical", "PT"]
medical_pt

1622.021695217608

In [70]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"
other_ft = p_other * p_ft * N
other_ft

17794.430966184842

In [71]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"
other_pt = frequencies.loc["Other", "PT"]
other_pt

12576.569033815158

In [72]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"
policemen_ft = p_policemen * p_ft * N
policemen_ft

1113.7997848841785

In [73]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"
policemen_pt = frequencies.loc["Policemen", "PT"]
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [74]:
# Your code here:
# Store all the expected frequencies of "FT" employees in a list
ft_expected = frequencies["FT"].tolist()

# Store all the "PT" employees into another list
pt_expected = frequencies["PT"].tolist()

# Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
expected_dict = {"FT": ft_expected, "PT": pt_expected}

# Create a dataframe with this dictionary using pd.DataFrame()
expected_df = pd.DataFrame(expected_dict) #index=["Lawyer", "Medical", "Firemen", "Policemen", "Other"])

expected_df

             FT            PT
0    245.492956    173.507044
1   2294.978305   1622.021695
2    885.297988    625.702012
3   1113.799785    787.200215
4  17794.430966  12576.569034

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [75]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [76]:
# Conduct the chi-squared test
chi2, p_value, _, expected_freq = stats.chi2_contingency(frequencies)

# Print the results
print(chi2)
print(p_value)
print(expected_freq)

1.7245152908278535e-28
1.0
[[  245.49295627   173.50704373]
 [ 2294.97830478  1622.02169522]
 [  885.29798788   625.70201212]
 [ 1113.79978488   787.20021512]
 [17794.43096618 12576.56903382]]

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [77]:
np.allclose(expected_freq, expected_freq)

True